<h2>My ingredients</h2>

<table class='user-ingredients-table'>
  <thead>
    <th>Quantity</th>
    <th>Ingredient</th>
  </thead>

  <tbody>
  <tr>
    <td>{{input type='text' name='quantity'}}</td>
    <td>{{ingredient-select}}</td>
    <td>{{add-button quantity='3' ingredientId= 3}}</td>
  </tr>
  {{#each @model as |userIngredient|}}
    <tr>
      <td class='user-ingredient-quantity'>
        {{property-editor
          inputType='text'
          inputName='quantity'
          inputValue=userIngredient.quantity
          recordId=userIngredient.id
        }}
      </td>
      <td class='user-ingredient-ingredient'>
        {{userIngredient.ingredient.name}}
      </td>
      <td>
        {{delete-button recordId=userIngredient.id}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>